@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}

.main-div {
    background-image: url(../images/alphabet-letters-white-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 5em;
}